@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-root,
.MuiInputLabel-root,
.MuiInputBase-input {
  background-color: white;
}

.MuiInputLabel-root {
  padding: 0.1rem 0.5rem;
}

.MuiInputLabel-root,
.MuiInputBase-input {
  border-radius: 0.25rem;
}
