@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-root,
.MuiInputLabel-root,
.MuiInputBase-input {
  background-color: white;
  font-family: inherit;
}

.MuiInputLabel-root {
  padding: 0.1rem 0.5rem !important;
}

.MuiInputLabel-root,
.MuiInputBase-input {
  border-radius: 0.25rem;
}

.MuiModal-backdrop {
  backdrop-filter: blur(0.5rem);
}